*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    /* Primary colours */
    --drkCyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);

    /* Neutral */
    --drkBlue: hsl(212, 21%, 14%);
    --drkGrayBlue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

html{
    font-size: 14px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--cream);
    font-weight: 500;
    height: 100vh;
}

.product-card{
    width: 90%;
    border-radius: 2%;
    min-width: 375px;
    display: flex;
    background-color: var(--white);
    flex-direction: column;
    overflow: hidden;
    /* outline: 1px solid var(--drkBlue); */
}

.product-img{
    object-fit: cover;
    flex-basis: 300px;
    min-width: 0;
    min-height: 0;
    object-position: center;
}

.product-body{
    max-width: 300px;
    margin: 0 auto;
}

.product-body *{
    margin: 1rem 0;
}


.product-type{
    letter-spacing: 5px;
    font-size: 0.8rem;
    opacity: 0.7;
    text-transform: uppercase;
}

.product-title{
    font-family: 'Fraunces', serif;
    color: var(--drkBlue);
    font-weight: 700;
    font-size: 2rem;
}

.product-info{
    /* opacity: 0.6; */
    color: gray;
    line-height: 1.4;
}

.product-price{
    font-family: 'Fraunces', serif;
    margin: 0;
}

.product-sale-price{
    color: var(--drkCyan);
    display: inline-block;
    font-size: 2.5rem;
    font-weight: 700;
}

.product-actual-price{
    display: inline-block;
    text-decoration: line-through;
    color: gray;
    margin-left: 1.1em;
}

.product-cart{
    background: var(--drkCyan);
    font-family: 'Montserrat', sans-serif;
    color: var(--cream);
    font-size: 1.3rem;
    cursor: pointer;
    padding: 0.75em 0.5em;
    width: 95%;
    border: none;
    border-radius: 1rem;
}

.product-cart:focus, 
.product-cart:hover{
    background-color: hsl(158, 61%, 25%)
}

.fa-cart-shopping{
    margin-right: 0.5em;
}

@media (min-width: 500px){

    body{
        font-size: 16px;
    }
    .product-card{
        flex-direction: row;
        max-width: 650px;
        height: 420px;
    }

    .product-body {
        margin: 1em 1.25em;
    }
}